.bg {
  background-image: linear-gradient(to bottom, #dcd62c, #e213b1, #191d61);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: White;
}

.login-register-container {
  background-color: #e6eef0;
  /* height: 250px; */
  padding: 20px 0px 20px 0px;
  width: 100%;
  /* max-width: 500px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid red; */
}
.x {
  /* border: solid black; */
  height: 90vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 80px;
}
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .x {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .x {
    width: 500px;
  }
}

.phoneNo {
}

.inputFields {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  align-self: flex-start;
}

.inputFields:focus {
  border-color: #3b8cce;
  outline: none;
}

.btn {
  /* margin: auto; */
  align-self: flex-start;
  width: 100%;
  background-color: #1e5176;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
}

.error-para {
  color: red;
  margin-bottom: 0px;
  margin-top: 13px;
}

.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid red; */
  width: 100%;
}

.ot-container {
  /* border: solid yellow; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.achal {
  padding: 20px 1.3rem;
  border: 1px solid green;
  /* box-shadow: 5px 5px  black;*/
  box-shadow: 2px 1px 15px #aaaaaa, 2px 1px 15px #aaaaaa;
  background-color: white;
  /* display: flex; */
  /* width: 70%; */
  /* flex-direction: column; */
}

.inputContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: solid yellow; */
}

.separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  padding: 0px 0.5rem;
  min-width: 8rem;
  height: 2px;
  background-color: #436d75;
}
