/* index.module.css */

.bg {
  background-image: linear-gradient(to bottom, #dcd62c, #e213b1, #191d61);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: white;
  font-size: 24px;
  margin-top: 20px;
}

.login-register-container {
  background-color: white;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  margin-top: 20px;
}

.x {
  height: 90vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 80px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.register-button {
  align-self: flex-start;
  background-color: #1e5176;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 0px;
}

.register-button:hover {
  background-color: #000;
}

.InputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.inputFields {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}

.inputFields:focus {
  border-color: #3b8cce;
  outline: none;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
}



.error_para {
  color: red;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .x {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .x {
    width: 400px;
  }
}
.PasswordField {
  display: flex;
  align-items: center;
}

.passwordTogggleBtn {
  margin-left: 20px;
  background: transparent;
  cursor: pointer;
  border: none;
}
